:root{
    --forest:#1D4533;
    --cream: #F7EAE0;
   --peach:#F9D2BA;
   --brown:#5E3122;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cream);
    line-height: 1.6;
}
.header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
    background-color: var(--forest);
    border-bottom: 4px solid var(--brown);
}
.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--cream);
}
nav{
    display: flex;
    gap: 35px;
}
nav a{
    color: var(--cream);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}
nav a:hover{
    background-color: var(--peach);
    color: var(--brown);
}
.search{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-items: center;
    border: 2px solid var(--cream);
    border-radius: 20%;
    color: var(--cream);
}
.cute{
    padding: 65px 8%;
    background-color: var(--cream);
    border-bottom: 3px solid var(--brown);

}
.cute content{
    max-width: 850px;
    margin: auto;
    text-align: left;
}
.cute h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: var(--forest);
    margin-bottom: 20px;

}
.hero p{
    max-width: 750px;
    font-size: 18px;
    color: var(--brown);
    margin-bottom: 30px;
}
.main button{
    display:inline-block;
    padding: 12px 25px;
    background-color: var(--forest);
    color: var(--cream);
    text-decoration: none;
    border: 2px solid var(--brown);
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}
.main button:hover{
    background-color: var(--peach);
    color:var(--brown);
}
.feature card{
    width: 30%;
    min-height: 130px;
    padding: 20px;
    text-align: center;
    background-color: var(--cream);
    border: 3px solid var(--forest);
    border-radius: 10px;
    box-shadow: 5px 5px 0 var(--brown);
    transition: 0.3s;
}
  .feature card:hover{
    transform: translateY(-5px);
  }
  .feature card h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: var(--forest);
    margin-bottom: 5px;
  }
  .feature card p{
    color: var(--brown);
    font-size: 16px;
    font-weight: bold;
  }
  .extra{
    min-height: 250px;
    padding: 45px 8%;
    text-align: center;
    background-color: var(--cream);
    border-radius: 3px solid var(--brown);

  }
  .extra h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--forest);
    font-size: 30px;
    margin-bottom: 10px;
  }
  .extra p{
    max-width: 600px;
    margin: auto;
    color: var(--brown);
    font-size: 17px;
  }
  .theme list{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top:25px;
    flex-wrap: wrap;
  }
.theme list span{
    padding: 10px 20px;
    background-color: var(--peach);
    color: var(--forest);
    border: 2px solid var(--forest);
    border-radius: 20px;
    font-weight: bold;
}
.footer{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--forest);
    color: var(--cream);
    text-align: center;
    border-top: 4px solid var(--brown);
}
.footer p{
    font-size: 15px;
    font-weight: bold;
}




